


body {
    border: 2px solid red;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_960_720.jpg);

    display: flex;
    justify-content: center;
    align-items: center;
    

} 


.calculator-main {
    border: 2px solid purple;
    height: 60vh;
    width: 45vh;
    background-color: rgb(149, 78, 167);
}
.calcclear{
    width: 100%
}
.display {
    border: 2px solid white;
    width: 99%;
    height: 14vh;
    align-content: space-around;
    text-align: right;
    text-size-adjust: 20px;
    text-emphasis-color: white;
    padding-top: 1vh solid blue;
    content: 2vh solid white;
    background-color: aqua;

}
button {
    flex-wrap: flex;
    border: 3px solid whitesmoke;
    width: 24.21%;
    height: 9vh;
    align-content: space-around;
    background-color: rgb(67, 67, 200);


}
.calcwriter {
    display: flex;
    justify-content: center;
    align-items: center;

}

.calcDisplay {
    display: flex;
    justify-content: right;

}